
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap');


body{
    margin: 0px;
    padding: 0px;
    font-family:  'Poppins', sans-serif;
}
:root{
    --color1:white;
    --color2:black;
    --color3:#FF5A3C;
    --color4:#fc300c;
    --color6:rgb(136,165,223);
    --menu-background:#D9D9D9;
    --light-green-btn:#38af85;
    --dark-green-btn : #2b9670;
}
a{
    text-decoration: none;
}


/* CONTENT CSS  */


.content{
    width: 90%;
    margin: 0px auto;
}

.hot-deal .hot-deal-title{
    font-size: 30px;
    border-bottom: 2px solid var(--color3);
    width: 225px;
    font-weight: bold;
    margin-left: 20px;
}
.recent .recent-title{
    font-size: 30px;
    font-weight: bold;
    border-bottom: 2px solid var(--color3);
    width: 110px;
    margin-left: 20px;
}
.rooms{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.hot-deal-rooms{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.hot-deal-rooms .move i{
    font-size: 50px;
    color: var(--light-green-btn);
}
.hot-deal-rooms .move i:hover{
    color: var(--dark-green-btn);
    outline: none;
}
.left-move{
    margin-right: 30px;
}
.right-move{
    margin-left: 30px;
}
.rooms a{
    color: black;
}
.room{
    width: 270px;
    height: 275px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    align-items: center;
    justify-content: top;
    border: 0.1px solid gainsboro;
    border-radius: 10px;
    box-shadow: 3px 3px 6px gainsboro;
    cursor: pointer;
}
.room .image-contents{
    position: relative;
}
.room .image-contents img{
    width: 270px;
    height: 180px;
    border-radius: 10px 10px 0px 0px;
}
.img-hover-effects{
    display: none;
}
.image-contents:hover .img-hover-effects{
    display: block;
}
.shadow{
    background-color: rgba(0,0,0,0.4);
    position: absolute;
    top: 0px;
    width: 270px;
    height: 180px;
    border-radius: 10px 10px 0px 0px;
}
.view-details{
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid white;
    color: white;
    width: 150px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.favourite-logo{
    position: absolute;
    top: 10px;
    right: 10px;
}
.favourite-logo button{
    background: none;
    border: none;
    outline: none;
}
.favourite-logo button i{
    font-size: 24px;
    color: white;
}
.title,.location,.price{
    margin: 0px;
}
.title{
    margin-top: 5px;
}
.price{
    color: var(--color3);
    font-weight: bold;
}

.view-all{
    margin: 20px auto 0px;
    width: 150px;
}
.view-all a p{
   background-color: var(--light-green-btn);
   text-align: center;
    color: white;
    height: 40px;
    line-height: 40px;
    border-radius: 5px;
    font-size: 18px;
}
.view-all a p:hover{
    background-color: var(--dark-green-btn);
}

/* OUR FEATURES CSS */
.why-choose-us{
    background-color: whitesmoke;
    height: 350px;
}
.why-choose-us .title{
    font-size: 28px;;
    width: 100%;
    text-align: center;
    margin: 30px 0px;
    padding-top: 35px;
}

.reasons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.reason{
    width: 250px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.reasons .reason i{
    font-size: 60px;
    color: var(--light-green-btn);
}
.reason .reason-title{
    color: var(--light-green-btn);
    font-weight: bold;
    margin-top: 15px;
}
.reason .reason-describe{
    text-align: center;
}

/* ABOUD-US SECTION CSS */

.about-us-small-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0px 60px 0px;
    height: 280px;
}
.about-us-small-section .about-us{
    width: 600px;
}
.about-us-heading{
    font-size: 24px;
    margin: 10px 0px;
    border-bottom: 1px solid var(--color3);
}

.about-us-site-logo img{
    height: 220px;
    width: 260px;
    margin-top: 50px;
    margin-left: 60px;
}
.about-us-small-describe{
    margin: 0px;
}
.view-more{
    cursor: pointer;
    margin: 10px 0px 0px 0px;
    width: 130px;
    height: 35px;
    line-height: 35px;
    border-radius: 5px;
    background-color: var(--color3);
    text-align: center;
}
.view-more a{
    color: white;
}
.view-more:hover{
    background-color: var(--color4);
}

