:root{
    --color1:rgb(250,94,37);
    --color2:gray;
    --color3:gainsboro;
    --color4:whitesmoke;
    --color5:rgb(92, 92, 92);
}
body{
    margin: 0px;
    padding: 0px;
    background-color: var(--color4);
    font-family: Arial, Helvetica, sans-serif;   
}
.login{
    width: 60%;
    margin: 0px auto;
    background-color: #e4e4e4;
    height: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 20px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.login .login-image img{
    height: 400px;
}
.loginForm{
    padding: 20px;
    border-radius: 10px;

    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
p.login-heading{
    margin: 0px;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 600;
    color: #4d5959;
}
p.login-new-register{
    margin: 0px;
    color: var(--color2);
}
p.login-new-register > a{
    margin-left: 15px;
    text-decoration: none;
    color: var(--color1)
}

p.login-new-register > a:hover{
    border-bottom: 1px solid var(--color1)
}
.loginForm > form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.loginForm form input{
    width: 300px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    border-radius: 20px;
    padding: 0px 20px;
    text-align: center;
    border: none;
    outline: none;
    margin: 0px 0px 10px;
    cursor: pointer;
}
.loginForm form .inputs{
    display: flex;
    flex-direction: column;
}
.loginForm form .inputs label{
    padding: 0px 20px 5px;
    color: #4d5959;
}
a{
    text-decoration: none;
    color: #4d5959
}
.forgot-password{
    margin: 0px;
    width: 300px;
    text-align: right;
    font-size: 12px;
}
.forgot-password:hover{
    color: var(--color1);
}
.display-error{
    margin: 0px 0px 15px;
    color: var(--color1)
}
input[type="submit"]{
    background-color: #007074;
    color: white;
}
input[type="submit"]:hover{
    background-color: var(--color1);
}
